table {
    border-collapse: collapse;
    width: 50%;
}

td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: blue;
    color: black;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: red;
    color: black;
    text-align: center;
}
